/* section {
  background-color: red;
} */

/* class combination */


h3.heading {
  background-color: yellow;
}

h4.heading {
  background-color: purple;
}

/* get me any section which has the class of .content */
section.content {
  background-color: red;
}

/* get me a section with class of content and then get an element inisde it which has the class of .heading */
section.content .heading {
  background-color: pink;
}

.content p {
  /* background-color: purple; */
}

.content p.text {
  background-color: orange;
}

section.content p.text {
  background-color: yellow;
}

section.content button.btn#button {
  background-color: blue;
  color: white;
}

section.content button.btn.red#danger {
  background-color: lightcoral;
}

section.something .block .inner button.button {
  background-color: yellow;
}

.inner button {
  /* background-color: orange; */
}
