/* 1.0 buttons */

.news {
  background-color: gray;
}

.news__heading {
  color: red;
  text-align: center;
}

.news__photo {
  /* some styling */
}

.news__content {
  background-color: black;
  color: white
}

.news__button {
  font-size: 25px;
  font-weight: bold;
}

/* buttons */
.news__button--info {
  background-color: lightblue;
}

.news__button--danger {
  background-color: red;
}

.news__button--success {
  background-color: green;
}

.blog {
  background-color: lightgreen;
}

.blog__heading {
  background-color: red;
  text-align: center;
}

.blog__comment {
  background-color: white;
}

.blog__link {
  text-decoration: none;
}

.article {
  background-color: lightpink;
}

.article h2 {
  background-color: red;
}

.article img {
  /* some styles */
}

.article p {
  background-color: black;
  color: white
}

.article button {
  background-color: purple;
}
